body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:24px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}

body{
	padding-left:2rem;
}

ul{
	margin-top:0.5rem;
}

/* 预览图片的div */
#previewDiv{
	margin-top: 2rem;
	overflow: hidden;
	position: relative;
}

/* 所选择的图片 */
#selectImg{
	max-width: 30rem;
	max-height: 20rem;
    margin-top:2rem;
}

/* 所选择的图片的标题内容 */
#selectImgTitle{
	margin-top:0.5rem;
}
